body {
    background-color: black;
    background-size: cover; /* чтобы изображение занимало всю доступную область */
    background-repeat: no-repeat; /* чтобы изображение не повторялось */
    justify-content: center;
    align-items: center;
}
.card
{
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    margin: 10px;
    width: 300px;
    height: 600px;
    display: inline-block;
    transition: all 0.3s ease;
    background-color: #fff;
    overflow: hidden; /* Обрезать изображение, если оно больше */
    justify-content: center; /* Центрирование по горизонтали */
    align-items: center; /* Центрирование по вертикали */
}
.center-container {
    display: inline;
    justify-content: center;
    align-items: center;
   
}

.card-container {
    width: 100%;
    max-width: 1200px; /* Ширина контейнера с карточками */
    padding: 20px; /* Отступ внутри контейнера */
    box-sizing: border-box; /* Учитывать padding в расчетах ширины */
}
.card:hover {
    transform: scale(1.05);
    background-color: #37DA7E;
}

.card img-container {
    max-width: 100%;
    max-height: 100%;
    overflow: hidden; /* Обрезать изображение, если оно больше */
}

.card img {
    max-width: 250px;
    max-height: 400px;
    border-radius: 8px;
}


.card h3,
.card p,
.card a {
    margin: 10px 0;
}

    .card p:last-child {
        margin-bottom: 0;
    }

.card a {
    text-decoration: none;
    color: #333;
}

.card p:last-child {
    margin-bottom: 0;
}

.card a {
    text-decoration: none;
    color: #333;
}

h3 {
    font-weight: bold;
}
